/*
*
* Runner CSS
* 
* DO NOT SHARE WITH ANYONE, DO NOT OPEN FILE WHILE SHARING YOUR SCREEN
* Remove the file from your resource swapper before sharing your resource swapper
*
* Reinstall URL: https://dglfjipaodsjhituor.github.io/klcsmsail/main_custom.css
* - Right Click the Page
* - Click `Save Page As...`
*
* In event of URL migration/leak, contact me again on Discord (tae#4444)
*
*/

/*↓YOU DO NOT NEED TO DO ANYTHING WITH THIS LINK, IT IS FOR AUTO UPDATES↓*/
@import url(https://dglfjipaodsjhituor.github.io/klcsmsail/main.css);
/*↑YOU DO NOT NEED TO DO ANYTHING WITH THIS LINK, IT IS FOR AUTO UPDATES↑*/

/*==CSS CUSTOMIZATION SETTINGS==*/

/*Colors*/

:root {
    --accent: #B4FFDB;
    --secondary: red;
}

/*Fonts*/

@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2)
}

@font-face {
    font-family: LCD;
    src: url(https://raw.githubusercontent.com/dglfjipaodsjhituor/klcsmsail/main/DS-DIGI.TTF);
}

/*Make Personalized Edits Below*/
